@model ShopMVC.ViewModels.SimpleProductViewModel[]

@{
    ViewData["Title"] = "Index";
    var cardsOfRow = 0;
    var count = 0;
}
<div class="container p-3">
    @while (count < Model.Length)
    {
        <div class="row">
            @while (cardsOfRow < 2)
            {
                @if (count == Model.Length)
                    break;
                
                var product = Model[count];
                
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Price</p>
                            <a class="btn btn-primary" asp-controller="Product" asp-action="GetWithDetailsById" asp-route-productId=@product.Id>Read more</a>
                        </div>
                    </div>
                </div>
                count++;
                cardsOfRow++;
            }
            @if (count < Model.Length)
            {
                cardsOfRow = 0;
            }
        </div>
    }

</div>
