html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.vertical-center {
  margin-left: 30%;
}

table {
  width: 100%;
}

th {
  width: 20%;
}

.bigger-margin {
  margin-top: 3rem
}
.pieces-area {
  margin-top: 5%;
}

.pieces-available, .pieces-minus {
  float: left;
}

.pieces-plus, .pieces-label, .btn-cart {
  margin-left : 5%;float:left;
}

.pieces-available-space {
  margin-top: 5%;
}