@{
    ViewData["Title"] = "Manage";
}
<h1>@ViewData["Title"]</h1>

<div class="align-content-around">
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Create Product</a>
</div>
